<div class="content">
    <form action="">
        <table>
            <tr>
                <td>Roll No</td>
                <td><input type="text" name="" id="" [value]="studentbio.data.rno" disabled></td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td><input type="text" name="" id="" [value]="studentbio.data.stud_name" disabled></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                <select name="bonafide_type" id="">
                    <option value="Test1">Test1</option>
                    <option value="Test2">Test2</option>
                </select>
            </td>
            </tr>
            <tr>
                <td>Reason</td>
                <td>
                    <select name="bonafide_reason" id="">
                        <option value="Test1">Test1</option>
                        <option value="Test2">Test2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Comments</td>
                <td><textarea></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Request">
    </form>
</div>
