<div class="content" *ngIf="!loading">
    <form action="" (ngSubmit)='onSubmit(f)' #f='ngForm'>
        <table>
            <tr>
                <td>Roll No</td>
                <td><input type="text" name="rno" id="" [value]="studentbio.rno" disabled></td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td><input type="text" name="sname" id="" [value]="studentbio.stud_name" disabled></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                <select name="bonafide_type" id="" ngModel>
                    <option value="Test1">Test1</option>
                    <option value="Test2">Test2</option>
                </select>
            </td>
            </tr>
            <tr>
                <td>Reason</td>
                <td>
                    <select name="bonafide_reason" id="" ngModel>
                        <option value="Test1">Test1</option>
                        <option value="Test2">Test2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Comments</td>
                <td><textarea name='comment' ngModel></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Request">
    </form>
</div>
<img
  src="assets/loading.gif"
  style="height: 20vh"
  class="loading"
  *ngIf="loading"
/>
