<div class="snav">
    <div class="thumbnail">
        <div class="image">
            <img src="assets/profileicon.png" alt="">
            <div class="text">samplename</div>
        </div>
    </div>
    <div class="nav">
        <ul class="root">
            <li>
                <a routerLink="/student" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact:true}">
                    <div>
                        <img src="./../../../assets/icons/profile.png" alt="">
                    </div>

                    <div>
                        <div class="text">PROFILE</div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div>
                        <img src="./../../../assets/icons/service.png" alt="">
                    </div>

                    <div>
                        <div class="text">SERVICES</div>
                    </div>
                </a>
            </li>
            <ul>
                <li>
                    <a routerLink="bonafide" routerLinkActive="active_tab">
                        <div>
                            <img src="./../../../assets/icons/bonafide.png" alt="">
                        </div>

                        <div>
                            <div class="text">BONAFIDE</div>
                        </div>
                    </a>
                </li>
            </ul>
            <li>
                <a routerLink="responses" routerLinkActive="active_tab">
                    <div>
                        <img src="./../../../assets/icons/response.png" alt="">
                    </div>

                    <div>
                     <div class="text">RESPONSES</div>
                    </div>
                </a>
            </li>
            <li>
                <a (click)="logout()">
                    <div>
                        <img src="./../../../assets/icons/logout.png" alt="">
                    </div>

                    <div>
                        LOGOUT
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

