<div class="snav">
    <div class="image">
        <img src="assets/profileicon.png" alt=""><br>
        <span>samplename</span>
    </div>
        <ul>
            <li><a routerLink="student">PROFILE</a></li>
            <li><a routerLink="">SERVICES</a>
            <ul>
                <li> <a routerLink="bonafide">BONAFIDE</a></li>
            </ul></li>
            <li><a routerLink="responses">RESPONSES</a></li>
            <li><a routerLink="/login">LOGOUT</a></li>
        
        </ul>
    
    </div>

