<div class="content">
<table>
    <tr>
        <td>Roll No</td>
        <td>{{studentbio.data.rno}}</td>
    </tr>
    <tr>
        <td>Student Name</td>
        <td>{{studentbio.data.stud_name}}</td>
    </tr>
    <tr>
        <td>Father's Name</td>
        <td>{{studentbio.data.father_name}}</td>
    </tr>
    <tr>
        <td>Mother's Name</td>
        <td>{{studentbio.data.mother_name}}</td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>{{studentbio.data.dob}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td *ngIf="studentbio.data.gender=='f'">Female</td>
        <td *ngIf="studentbio.data.gender=='m'">Male</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{studentbio.data.stud_address}}</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{studentbio.data.stud_mobile}}</td>
    </tr>
    <tr>
        <td>E-mail</td>
        <td>{{studentbio.data.stud_email}}</td>
    </tr>
    <tr>
        <td>Year of Joining</td>
        <td>{{studentbio.data.year_of_joining}}</td>
    </tr>
    <tr>
        <td>Year of Passing</td>
        <td>{{studentbio.data.year_of_passing}}</td>
    </tr>
    <tr>
        <td>Programme</td>
        <td>{{studentbio.data.programme_name}}</td>
    </tr>
</table>
  
</div>
