<div>
    <div id="nav">
      <div class="buttons">
        <div class="insert">
          <img src="assets/icons/add.png" alt="">
        </div>
        <div class="edit">
          <img src="assets/icons/update.png" alt="">
        </div>
        <div class="delete">
          <img src="assets/icons/delete.png" alt="">
        </div>
      </div>
    </div>
    <div>
        <div class="container">
            <div class="item" *ngFor="let teacher of teacherInfo;">
                <div class="card">
                    <div>
                        <h4><b>{{teacher.staff_name}}</b></h4>
                        <p>
                            {{teacher.staff_id}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
