
  <div class="container" *ngIf="!loading">
    <div class="item" *ngFor="let student of students;let indexEle = index;">
        <div class="card" (click)="studentBio(indexEle)">
            <img [src]="image[indexEle]" alt="">
            <div>
                <h4><b>{{student.stud_name}}</b></h4>
                <p>
                    {{student.rno}}
                </p>
            </div>
        </div>
    </div>

</div>
<img
  src="assets/loading.gif"
  style="height: 20vh"
  class="loading"
  *ngIf="loading"
/>
