<div class="body">
    <div class="container">
        <div class="logo">
            <img src="assets/logo.png" alt="">
        </div>
        <div class="content">
            <div class="nav">
                <ul>
                    <li><a routerLink="/login" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact:true}"><div>STUDENT</div></a></li>
                    <li><a routerLink="teacher" routerLinkActive="active_tab"><div>TEACHER</div></a></li>
                </ul>
            </div>
            <div class="form">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</div>