div{
    @media (max-width:800px) {
  
      padding: 2rem 0rem;
    }
    padding: 1rem 3rem;
    position: relative;
    table{
      width: 100%;
      border: 2px solid #058ed9;
      border-radius: .7rem;
      position: relative;
      tr{
        line-height: 2rem;
  
        th{
          background-color: #058ed9;
          color: white;
          padding: 1rem 0rem;
        }
        td{
          padding: 1rem 0rem;
          text-align: center;
        }
        th:nth-child(1){
          border-top-left-radius: .7rem;
        }
        th:nth-child(6){
          border-top-right-radius: .7rem;
        }
      }
    }
  
  }
  