<div *ngIf="!loading">
    <table>

      <tr>
          <th>ROLL NO</th>
          <th>STUDENT NAME</th>
          <th>REASON</th>
          <th>COMMENT</th>
          <th>REQUESTED ON</th>
          <th>APPROVAL</th>
        </tr>

       <tr *ngFor="let pendingRequest of pendingRequests">
           <td>{{pendingRequest.rno}}</td>
           <td>{{pendingRequest.stud_name}}</td>
           <td>{{pendingRequest.reason}}</td>
           <td>{{pendingRequest.comment}}</td>
           <td>{{pendingRequest.request}}</td>
           <td>YES/NO</td>
           </tr>
   </table>
  </div>
  <img
  src="assets/loading.gif"
  style="height: 20vh"
  class="loading"
  *ngIf="loading"
/>
