<div>
    <div id="nav">
      <div class="buttons">
        <div class="insert">
          <img src="assets/icons/add.png" alt="">
        </div>
        <div class="edit">
          <img src="assets/icons/update.png" alt="">
        </div>
        <div class="delete">
          <img src="assets/icons/delete.png" alt="">
        </div>
      </div>
    </div>
    <div>
        <div class="container">
          <mat-card *ngFor="let bonafide of bonafideInfo;">
            <mat-card-header>
            <mat-card-title>Roll No: {{bonafide.rno}}</mat-card-title>
            <mat-card-subtitle>Bonafide ID: {{bonafide.bonafide_id}}</mat-card-subtitle>
          </mat-card-header>
            <mat-card-content>
              <mat-list >
                  <mat-list-item>
                    Type: {{bonafide.type}}
                  </mat-list-item>
                  <mat-list-item>
                    Reason: {{bonafide.reason}}
                  </mat-list-item>
                  <mat-list-item>
                    Request: {{bonafide.request}}
                  </mat-list-item>
                  <mat-list-item>
                    Issue Date{{bonafide.issue}}
                  </mat-list-item>
                  <mat-list-item>
                    Status: {{bonafide.status}}
                  </mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-raised-button color="primary">Like</button>
              <button mat-raised-button color="primary">SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>

