div{
    overflow-x: hidden;
      #nav{
        width: 100%;
        overflow: hidden;
        .buttons{
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-content: center;
          align-items: center;
          div{
            img{
              width: 2rem;
            }
          }
        }
      }
      div{
          .container{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              column-gap: 2rem;
              flex-wrap: wrap;
              row-gap: 2rem;
              .item{
                .card {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  box-shadow: 0px 4px 2px rgb(0, 0, 0);
                  padding: 16px;
                }
              }
          }
      }
  }
  