<div *ngIf="!loading">
  <table>

    <tr>
        <th>REASON</th>
        <th>TYPE</th>
        <th>COMMENT</th>
        <th>REQUESTED ON</th>
        <th>VERIFICATION STATUS</th>
        <th>DOWNLOAD PDF</th>
      </tr>

     <tr *ngFor="let response of responses">
         <td>{{response.reason}}</td>
         <td>{{response.type}}</td>
         <td>{{response.comment}}</td>
         <td>{{response.request}}</td>
         <td>{{response.status}}</td>
         <td>
           <button (click)="generatePDF(responses.bonafide_id)" *ngIf="response.status == 'YYY' || response.status == 'yyy'">Download PDF</button>
           <a (click)="generatePDF(responses.bonafide_id)" *ngIf="response.status != 'YYY' && response.status != 'yyy'">PDF Not ready</a>
        </td>
     </tr>
 </table>
</div>
<img
  src="assets/loading.gif"
  style="height: 20vh"
  class="loading"
  *ngIf="loading"
/>
