div {
  overflow-x: hidden;
  #nav {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    .buttons {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      padding-top: 1rem;
      padding-right: 1rem;
      @media (max-width: 800px) {
        flex-direction: column;
        align-self: flex-end;
      }
      div {
        img {
          width: 2rem;
        }
      }
    }
  }
  div {
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 2rem;
      flex-wrap: wrap;
      row-gap: 2rem;
      .item {
        box-shadow: 2px 2px 5px black;
        .card {
          border: .2px solid black;
          width: 150px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0px 4px 2px #000000;
          padding: 5px;
        }
      }
    }
  }
}
