<div class="content" *ngIf="!loading">
    <img [src]="image" alt="">
    <div class="heading"><h1>Student Details</h1></div>
    <table>
        <tr>
            <td>Roll No</td>
            <td>{{studentBio.rno}}</td>
        </tr>
        <tr>
            <td>Student Name</td>
            <td>{{studentBio.stud_name}}</td>
        </tr>
        <tr>
            <td>Father's Name</td>
            <td>{{studentBio.father_name}}</td>
        </tr>
        <tr>
            <td>Mother's Name</td>
            <td>{{studentBio.mother_name}}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{studentBio.dob}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td *ngIf="studentBio.gender=='f'">Female</td>
            <td *ngIf="studentBio.gender=='m'">Male</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{studentBio.stud_address}}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>{{studentBio.stud_mobile}}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{studentBio.stud_email}}</td>
        </tr>
        <tr>
            <td>Year of Joining</td>
            <td>{{studentBio.year_of_joining}}</td>
        </tr>
        <tr>
            <td>Year of Passing</td>
            <td>{{studentBio.year_of_passing}}</td>
        </tr>
        <tr>
            <td>Programme</td>
            <td>{{studentBio.programme_name}}</td>
        </tr>
    </table>
    <button (click)="back()">Back</button>
  </div>
  <img
  src="assets/loading.gif"
  style="height: 20vh"
  class="loading"
  *ngIf="loading"
/>
