.tabs{
    nav{
        padding: 1em;
        margin: 1em 0;
        //background-color: #058ED9;
        a{
            padding: 1em 1.5em;
            color: #fff;
            background-color: #058ED9;
            border-top-left-radius: 0.8rem;
            border-top-right-radius: 0.8rem;
            text-decoration: none;
        }
        .active_tab{
                background-color: white;
                color: black;
                border-top-left-radius: 0.8rem;
                border-top-right-radius: 0.8rem;
                box-shadow: 0px 0px 1px rgba($color: #032138, $alpha: 0.6);
                
        }
        
    }
}
