div {
  overflow-x: hidden;
  #nav {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    .buttons {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      padding-top: 1rem;
      padding-right: 1rem;
      @media (max-width: 800px) {
        flex-direction: column;
        align-self: flex-end;
      }
      div {
        img {
          width: 2rem;
        }
      }
    }
  }
  div {
    .container {
      padding: 2%;
      .dept {
        #dname {
          width: 100%;
          font-size: 2rem;
          margin: 0;
          background-color: #032138;
          color: white;
          padding: 1%;
          text-decoration: bold;
          text-transform: uppercase;
        }
        .programme {
          text-decoration: bold;
          #pname {
            width: 100%;
            padding: 1%;
            text-transform: uppercase;
            text-decoration: underline #032138 10px;
            margin: 0;
            font-size: 1.6rem;
          }
          .batch {
            #bname {
              font-size: 1.3rem;
              margin:0;
              padding-left: 1%;
              box-shadow: 0 0px 6px 0 gray;
            }
            .student{
              display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 3%;
                justify-content: flex-start;
                align-items: center;
              .item {
                .card {
                  //border:1px solid black;
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: column;
                  align-content: center;
                  justify-content: center;
                  border-radius: .7rem;
                  box-shadow: 0 4px 8px 0 black;
                  padding:16px 30px ;
                  margin: 5%;
                    img {
                      width: 150px;
                      height: 150px;
                      padding: 0%;
                      object-fit:cover;
                      border-radius: 10rem;
                    }
                    text-align: center;
                  }
              }
            }
          }
        }
      }
    }
  }
}
