<div>
  <div id="nav">
    <div class="buttons">
      <div class="insert">
        <img src="assets/icons/add.png" alt="">
      </div>
      <div class="edit">
        <img src="assets/icons/update.png" alt="">
      </div>
      <div class="delete">
        <img src="assets/icons/delete.png" alt="">
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="dept" *ngFor="let dept of restructuredStudents;let indexEle = index;">
        <p id="dname">{{dept.dept}}</p>
        <div class = "programme" *ngFor="let programme of dept.data">
          <p id="pname">{{programme.program}}</p>
          <div class= "batch" *ngFor="let batch of programme.data">
            <p id="bname">{{batch.batch}}</p>
            <div class="student">
              <div class = "item" *ngFor="let student of batch.data; let indexEl=index">
                <div class="card">
                    <img [src]="student.imageX" alt="">
                    <h4>
                      <b>{{ student.stud_name }}</b>
                    </h4>
                    <p>
                      {{ student.rno }}
                    </p>
                </div>
              </div>
            </div>

          </div>
          <br>
        </div>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>
